<%= form_for @role do |f| %>


  <% if @role.movie_id.present? %>
    <%= f.hidden_field :movie_id %>
  <% else %>
    <div>
      <%= f.label :movie_id %><br>
      <%= f.number_field :movie_id %>
    </div>
  <% end %>
  <div>
    <%= f.label :actor_id %><br>
    <%= f.number_field :actor_id %>
  </div>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
